* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

h1,
body,
footer,
form {
    max-width: 430px;
    margin: 0 auto;
    width: 100%;
}

h1 {
    text-align: center;
    border: 2px solid rgb(2, 2, 79);
    padding: 1rem;
    margin: 2rem 0;
    background-color: rgb(14, 14, 130);
    color: rgb(240, 237, 237);
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgb(56, 56, 220);
    font-family: "Roboto", sans-serif;
}

form {
    border: 2px solid rgb(6, 6, 171);
    border-radius: 3px;
    background-color: rgb(241, 241, 246);
}

label {
    display: block;
    margin: 1.5rem;
    padding-top: 1rem;
    font-weight: 600;
}

/* --------------------Design Technique for Stars Ratings----------------------------- */

input[type="radio"] {
    display: none;
}

.stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
}

.stars > label {
    color: gold;
    width: 26px;
    height: 30px;
    font-size: 2rem;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    caret-color: rgba(0, 0, 0, 0);
}

.stars > label::before {
    content: "\2606";
}

.stars label:hover~label,
.stars>label:hover {
    color: green;
}

.stars input:checked ~ label::before {
    content: "\2605";
    color: green;
}

/* ------------------------------------------------- */

.checkbox {
    margin: .2rem 0 .2rem 1.5rem;
    padding: 5px;
}

#italic {
    font-style: italic;
    font-size: .8rem;
}

.rcdiv {
    margin: 2.7rem 0 0 1.5rem;
    font-weight: 600;
}

.stars label {
    margin: 0 1rem 0 2.2rem;
}

label.star {
    margin: 0 1.75rem;
}



.optional {
    font-size: .8rem;
}

.required {
    color: rgb(18, 5, 100);
}

select,
textarea,
button,
input[type="date"],
input[type="text"] {
    padding: .8rem;
    width: 100%;
    max-width: 430px;
    display: block;
    border-radius: 5px;
    border: solid 2px blue;
    
}

input[type="checkbox"] {
    margin: 0 .5rem 0 0;
    padding: 2rem;   
    transform: scale(1.2);
    accent-color: green
    ;
    
}

button {
    margin: 2rem auto;
    width: 89%;
    height: 4rem;
    background-color: rgb(14, 14, 130);
    color: rgb(240, 237, 237);
    font-size: 1.3rem;
}

button:hover {
    background-color: rgb(3, 68, 37);
    color: white;
    border: solid 3px rgb(3, 68, 37);
    box-shadow: 0 0 2px green;
}


textarea {
    height: 6rem;
}


footer {
    text-align: center;
    padding: 2rem;
}