
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table,
th,
td {
    border: solid 1px orange;
    border-collapse: collapse;
    padding: 1rem;
    text-align: center;
    margin: 1rem auto;
}

thead {
    background-color: rgb(94, 3, 3);
    color: rgb(245, 235, 235);
    border: none;
}

#vacant-cell {
    background-color:rgb(94, 3, 3);
}

tr:nth-child(3) {
    background-color: rgb(244, 177, 177);
}

caption {
    caption-side: bottom;
}
