:root {
    --main-font: "Roboto", sans-serif;
    --light-font: #faf9f6;
    --primary-color: #175676;
    --secondary-color: #F58220;
    --accent-color: #E01A4F;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: solid .5px #f58220;
    padding: .5rem;
    background-color: #175676;
}

header, footer {
    color: var(--light-font);
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: #dadada;
}