@media screen and (min-width: 501px) {

    root {
        --heading-font: "Montserrat", sans-serif;
        --body-font: "Roboto", sans-serif;
        --primary-color: #e01a4f;
        --secondary-color: #f58220;
        --font-light: #faf9f6;
        --font-dark: #1a2a40;
    }

    #menu {
        display: none;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--primary-color);
        padding: 1.2rem;
    }


    nav ul {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 40vw;
    }


    nav a {

        display: block;
        color: var(--font-dark);
        padding: 1rem;
        text-decoration: none;
        font-size: 1.2rem;
        color: white;
        text-align: center;
        flex: 1 1 100%;

    }

}

