:root {
    --blue: #103D8E;
    --red: #D11B31;
    --yellow: #DDB812;
    --white: #F4F4F4;
    --heading-font: "Satisfy", cursive;
    --body-font: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

main {
    background-color: var(--white);
}

body {
    max-width: 1550px;
}

.hero img {
    width: 100%;
    height: 100%;
    border-bottom: solid .5rem var(--blue);
}


header {
    color: rgb(183, 103, 5);
    height: 5rem;
    justify-content: center;
    background: var(--white);
    display: grid;
    align-items: center;
    border-top: solid .5rem var(--blue);
    border-bottom: solid .5rem var(--red);
}

h1 {
    align-content: center;
    font-family: var(--heading-font);
    font-size: 2.4rem;
}

h1::before {
    content: "☀️✨";
}

footer {
    background-color: var(--white);
    color: rgb(145, 81, 3);
    text-align: center;
    height: 5rem;
    padding: 1rem;
    border-top: solid .5rem var(--blue);
    border-bottom: solid .5rem var(--red);
    
}

h2 {
    color: rgb(183, 103, 5);
    font-family: var(--heading-font);
}

section {
    padding: 3em;
    text-align: center;
}

table {
    margin: 0 auto;
}

#icon {
    width: 62px;
    height: auto;
    border: none;
}

.weather {
    border-top: solid .5rem var(--red) ;
}







